#pattern  filter=crypt diff=crypt merge=crypt
config.pg.tfbackend filter=crypt diff=crypt merge=crypt
terraform.tfvars filter=crypt diff=crypt merge=crypt
output_192.168.254.217.json filter=crypt diff=crypt merge=crypt
vault_vars.yaml filter=crypt diff=crypt merge=crypt
config.hcl filter=crypt diff=crypt merge=crypt
*.pem filter=crypt diff=crypt merge=crypt